.about{
    display: flex;
    .text{
        width: 700px;
        padding-left: 100px;
        margin-top: 200px;
        font-size: 1.5rem;
        font-family: sans-serif;
        h1{
            padding: 40px;
        }
        button{
            text-align: left;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            background: black;
            color: #fff;
            margin: 10px;
            &:hover{
                background: #2e2929a4;
                color: #fffdfd;
                transition: .5s;
                cursor: pointer;
            }
        }
    }
    .img{
        margin-top: 100px;
        margin-left: 300px;
        width: 700px;
        height: 700px;
        background-position: center;
        background-size: cover;
        background-image: url(../../images/1-1.jpg);
    }
    @media only screen and (max-width:920px){
        &{
            text-align: center;
            display: block;
            height: 100vh;
            padding: 5px 0;
            .text{
                margin-top: 1px;
                padding: 0 5px;
                text-align: center;
                width: 380px;
            }
            .img{
                margin-left: 5px;
                width: 380px;
                padding: 0 5px;
                height: 370px;
                margin-top: 10px;
            }
        }
    }
}